{% extends 'base.html' %}
{% load static %}

{% block content %}
    <header class="masthead">
        <div class="container h-100 mt-4">
            <h1 id="404-title" class="text-white">Erreur 404 Oui c'est comme ça</h1>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/fGZRVGlGZ6A" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </header>
{% endblock %}